# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# project

# build
build-CovertToSuperMemoQt-Desktop_Qt_5_4_1_GCC_64bit-Debug/
build-CovertToSuperMemoQt-Qt4_8_6Mingw-Debug/
build
build-CovertToSuperMemoQt-Desktop_Qt_5_5_0_clang_64bit-Debug/
build-CovertToSuperMemoQt-unknown-Debug/
bin/CovertToSuperMemoQt.app

#ruby
.idea
*.db
supermemo-20171215-111228_files/
supermemo-20171215-114418_files/
supermemo-20171215-115738_files/
supermemo-20171215-121609_files/
supermemo-20171216-091812_files/
supermemo-20171216-092135_files/
supermemo-20171216-092703_files/
supermemo-20171216-092800_files/
supermemo-20171217-063008_files/
supermemo-20171217-063558_files/
supermemo-20171218-120247_files/
supermemo-20171220-221916_files/
supermemo-20171222-000736_files/
supermemo-20171222-010232_files/
supermemo-20171226-105201_files/
supermemo-20180103-092348_files/
supermemo-20180104-225553_files/
supermemo-20180111-070806_files/
supermemo-20180112-095647_files/
supermemo-20180115-061148_files/
supermemo-20180303-222102_files/